<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Simulation -->
  <xacro:if value="$(arg sim_mode)">
    <!-- Gazebo Hardware interface -->
    <ros2_control name="GazeboSystem" type="system">
      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>
      <joint name="front_left_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="front_right_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="rear_left_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="rear_right_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <!-- Gazebo Controller Manager -->
    <gazebo>
      <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <!-- <parameters>~/agv_ws/install/agv_base/share/agv_base/config/diffbot_controllers_sim.yaml</parameters> -->
        <!-- <parameters>~/agv_ws/install/agv_base/share/agv_base/config/gaz_ros2_ctl_use_sim.yaml</parameters> -->
        <parameters>$(find agv_base)/config/diffbot_controllers.yaml</parameters>
        <parameters>$(find agv_base)/config/gaz_ros2_ctl_use_sim.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:if>

  <!-- Real -->
  <xacro:unless value="$(arg sim_mode)">
    <!-- ROS2 Controller Manager -->
    <ros2_control name="agv_base" type="system">
      <hardware>
          <plugin>agv_base/AgvSystemHardware</plugin>
          <param name="front_left_wheel_name">front_left_wheel_joint</param>
          <param name="front_right_wheel_name">front_right_wheel_joint</param>
          <param name="rear_left_wheel_name">rear_left_wheel_joint</param>
          <param name="rear_right_wheel_name">rear_right_wheel_joint</param>
          <param name="front_left_wheel_node_id">1</param>
          <param name="front_right_wheel_node_id">2</param>
          <param name="rear_left_wheel_node_id">3</param>
          <param name="rear_right_wheel_node_id">4</param>
          <param name="enc_counts_per_rev">4096</param>
          <param name="can_dev_name">vcan0</param>
          <param name="can_node_id">99</param>
      </hardware>
      <joint name="front_left_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="front_right_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="rear_left_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="rear_right_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:unless>

</robot>
