[submodule "rpi/sorrylinus"]
	path = rpi/sorrylinus
	url = https://github.com/seantywork/sorrylinus.git
[submodule "grpc/multi-terminal-games"]
	path = grpc/multi-terminal-games
	url = https://github.com/seantywork/multi-terminal-games.git
[submodule "0xgo/kube-codejam"]
	path = 0xgo/kube-codejam
	url = https://github.com/seantywork/kube-codejam.git
[submodule "gh-bot"]
	path = gh-bot
	url = https://github.com/seantywork/gh-bot.git
[submodule "ap2ko"]
	path = ap2ko
	url = https://github.com/seantywork/ap2ko.git
