{
    "DEBUG":"",
    "REDIRECT_URL_REMOTE":"",
    "REDIRECT_URL_LOCAL":"",
    "REDIRECT_URL":"",
    "GOOGLE_OAUTH_CLIENT_ID":"",
    "GOOGLE_OAUTH_CLIENT_SECRET":"",
    "SECRET_NAME":"",
    "REGISTRY_ADDRESS":""
}