notebook==7.0.1
matplotlib==3.7.2
torch==1.13.1
torchvision==0.14.1
# --extra-index-url https://download.pytorch.org/whl/cpu
# torch==2.0.1+cpu
# torchvision==0.15.2+cpu
# torchaudio==2.0.2+cpu
pycocotools==2.0.6
onnxruntime==1.15.1
onnx==1.14.0
git+https://github.com/facebookresearch/segment-anything.git
